//COLORS
$blue: rgb(62, 82, 163);
$beige: rgb(243, 234, 227);
$white: rgb(255, 255, 255);
$green: rgb(61, 129, 104);
$light-gray: rgb(146, 147, 152);
$pure-gray: rgb(185, 185, 193);
$dark-green: rgb(47, 79, 67);
